@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: brown;
  text-align: center;
}

main {
  margin: 0 0 7rem;
}

main h1 {
  margin: 1rem;
}

.input-label {
  font-size: larger;
  color: burlywood;
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 14px;
  outline: #fff;
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid burlywood;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
}

.container {
  padding: 0rem 1rem;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.item-active {
  font-weight: bold;
}

.navigation {
  background-color: burlywood;
  color: rgb(153, 47, 47);
  padding: 1rem;
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: rgb(156, 50, 50);
}

.navigation .link-active {
  font-weight: bold;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

#hyp-btn {
  background: burlywood;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

/* .input-container {
  margin: 1rem;
  margin-left: 29rem;
}

.input-container input {
  padding: 0.5rem;
  font-size: 1rem;
  width: 40%;
  margin: 0.5rem 1rem 1rem 0;
}

#hyp-btn {
  padding: 0.5rem;
  background: burlywood;
  color: var(--text-color);
  border: 1px solid burlywood;
  border-radius: 0.25rem;
  width: 27%;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin-left: 31rem;
  margin-bottom: 1rem;
}

#output {
  text-align: center;
  font-weight: bold;
}

label {
  font-size: large;
} */
