@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: brown;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0rem 1rem;
}

.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.item-active {
  border-bottom: 2px solid;
  font-weight: bold;
}

.navigation {
  background-color: burlywood;
  color: rgb(153, 47, 47);
  padding: 1rem;
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
}

.navigation .nav-brand {
  font-weight: bold;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: rgb(156, 50, 50);
}

.navigation .link-active {
  font-weight: bold;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.quiz-main {
  margin: 2rem auto;
  width: 90%;
  text-align: center;
}

div {
  display: block;
}

.quiz-form {
  display: block;
}

.container {
  margin: auto;
}

main h1 {
  margin: 1rem;
}

.question-container {
  width: 85%;
  margin: 1rem auto;
  font-size: larger;
  padding: 1rem 0;
}
div {
  display: block;
}

#submit-answer-btn {
  background: burlywood;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

#output {
  text-align: center;
  font-weight: bold;
  margin-bottom: 4rem;
}
